@use 'src/styles/variables' as vars;

.button {
  min-width: 228px;
  min-height: 44px;
  width: 236px;
  height: 48px;
  padding: 0 28px;
  box-sizing: border-box;
  background-color: vars.$bg-yandex;
  border: none;
  border-radius: vars.$border-radius;
  cursor: pointer;
  color: vars.$bg-primary;
  font-family: vars.$yandexFont;
  font-size: vars.$font-size-s;
  font-style: normal;
  font-weight: 500;
  line-height: vars.$line-height-s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: vars.$trans-300;

  &:focus {
    outline: none;
  }

  &:disabled {
    box-shadow: none;
  }
}

.icon {
  background-color: vars.$bg-yandex-logo;
  border-radius: 50%;
}
