@use '../../../styles/color-variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  h2 {
    margin: 0;
  }
}

.filterAccordion > button {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
  border-top: 1px solid color-variables.$borders-divider-disabled-bg;
  transition: color 0.3s ease;

  &:hover {
    color: color-variables.$color-hover;
  }
}
