@use 'src/styles/variables' as vars;

.text {
  color: vars.$dark-primary;
  font-weight: 400;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;

  &__success {
    color: vars.$success;
  }

  &__notChecked {
    
    &_right {
      svg {
        width: 14px; 
       }

      span {
        width: 100%;
      }
    }

    &_warning {
      svg {
        width: 12px; 
       }

       span {
        width: 100%;
      }
    }
  }

  &__warning {
    color: vars.$warning;
  }
}
