@use 'src/styles/variables' as vars;

.content {
  display: flex;
  gap: 24px;
  padding: 32px 0;
  border-bottom: 1px solid vars.$borders-divider-disabled-bg;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.text {
  width: 50%;
  padding: 0 40px 0 0;
  margin: 0;
  box-sizing: border-box;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
}

.list {
  width: 50%;
  padding: 0;
  list-style: none;

  &Item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.completed {
  color: vars.$success;
}

.accordion {
  border-top: 1px solid vars.$borders-divider-disabled-bg;

  & > button {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: vars.$font-size-m;
  }

  .list {
    width: 100%;
    margin: 0;
    padding-bottom: 35px;
  }
}

.finished {
  svg {
    color: vars.$success;
  }
}

.active {
  color: vars.$color-hover;
}
