@use 'src/styles/_variables' as vars;
@use 'src/styles/_color-variables' as colors;
@use 'src/styles/_font-variables' as fontSize;

.tooltip {
  position: absolute;
  z-index: 2;
  top: 0;
  right: -98%;

  @media (max-width: 961px) {
    right: -115%;
  }

  &Rows {
    font-family: vars.$yandexFont;
    display: flex;
    flex-direction: column;
    width: 226px;
    padding: 4px;
    border: 5px solid colors.$yandex-text-color;
    border-top-right-radius: 15px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    color: colors.$yandex-text-color;
    background-color: colors.$bg-primary;
    text-align: center;
    font-weight: 500;
    font-size: vars.$font-size-m;
    color: colors.$dark-primary;
    border: 3px solid colors.$dark-secondary;

    &::after {
      content: ' ';
      position: absolute;
      top: 23%;
      right: 100%;
      margin-top: -24px;
      border-width: 13px;
      border-style: solid;
      border-color: transparent colors.$dark-secondary transparent transparent;
    }
  }

  &Row {
    &Title {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      display: flex;
      padding: 10px;
      min-height: 20px;
      background-color: vars.$drop-shadow-small;
      color: colors.$dark-primary;

      &Img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        font-size: fontSize.$font-size-alt;
        border: 1px solid colors.$yandex-text-color;
        border-radius: 50%;
        margin: 0 20px 0 0;
      }

      &Text {
        margin: 5px;
      }
    }

    &Text {
      min-height: 30px;
      padding: 5px;
      background-color: vars.$color-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.block-show {
  transition: all 1s ease-in-out;
  opacity: 1;
}
