@use 'src/styles/variables' as vars;

.title {
  margin: 0;
  font-weight: 800;
}

.card {
  margin: 80px auto  132px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.text {
  margin: 0;

  & p {
    margin: 0;
    padding-top: vars.$grid-gap;
    text-align: center;
    font-size: vars.$font-size-m;
    line-height: vars.$line-height-m;
  }
}

.button {
  margin: 0 auto;
  width: 184px;
}

