@use 'src/styles/variables' as vars;

.title {
  margin-bottom: 25px;
  margin-top: 30px;
}

.card {
  margin: 80px auto  145px;
  text-align: center;
}

.text {
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
  margin: 0 0 18px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.textLink {
  color: vars.$dark-primary;
}

.button {
  margin: 0 auto;
  width: 184px;
  padding: 12px 24px;
}

.icon {
  margin: 0;
  background: #FF6600;
}
