@use 'src/styles/variables' as vars;

.container {
  max-width: 648px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 32px;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.form {
  margin-bottom: 16px;
}

.checkbox {
  color: vars.$dark-secondary;
  font-weight: 500;
}

.textLink {
  color: vars.$dark-secondary;
}

.button {
  margin: 0 auto;
  width: 236px;
  padding: 0 22px;
}

.icon {
  background-color: vars.$bg-yandex-logo;
  border-radius: 50%;
}
