@use 'src/styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  max-width: 648px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 32px;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.form {
  margin-bottom: 16px;
}

.checkbox {
  color: vars.$dark-secondary;
}

.textLink {
  color: vars.$dark-secondary;
}

.button {
  width: 236px;
  padding: 0 22px;

  &_margin {
    margin: 0 auto;
  }
}

.registerLink {
  color: vars.$dark-secondary;
  margin: 24px auto 0;
}
