@use 'src/styles/variables' as vars;

.lesson {
  display: flex;
  align-items: flex-start;
  column-gap: vars.$grid-gap;
  padding-bottom: 68px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: vars.$grid-gap;
}

.contents {
  min-width: 300px;
}

.breadcrumbs {
  margin-bottom: 32px;
  margin-top: vars.$grid-gap;
}

.error {
  width: 100%;
}
