@use 'src/styles/variables' as vars;

.heading {
  padding-top: 32px;
  margin-bottom: 32px;
}

.courses {
  display: flex;
  column-gap: vars.$grid-gap;
  padding-bottom: 40px;
}

.filters {
  max-width: 312px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  row-gap: vars.$grid-gap;
}
