@use 'src/styles/variables' as vars;
@use 'src/styles/mixins' as mixins;

.heading {
  padding-top: 24px;
  margin-bottom: 32px;
}

.courses {
  display: flex;
  column-gap: vars.$grid-gap;
  padding-bottom: 40px;
}

.filters {
  max-width: 312px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  row-gap: vars.$grid-gap;
}

/* анимация карточек */
$visibleCardsCount: 5;

.card {
  display: block;
}

@for $i from 1 through $visibleCardsCount {
  .card {
    &:nth-child(#{$i}) {
      @include mixins.slide-bottom-up($i * 0.15s);
    }
  }
}

