@use 'src/styles/variables' as vars;

.accordion {
  display: flex;
  flex-direction: column;
}

.open > .handle {
  .btn.icon {
    transform: rotate(180deg);
  }
}

.handle {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: vars.$mainFont;
}

.btn {
  margin-left: auto;
}

.text {
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
  font-weight: 500;
}

.icon {
  transition: transform vars.$trans-300;
  padding-left: 7px;
  padding-right: 7px;
}

.content {
  overflow: hidden;
  transition: max-height vars.$trans-300;
}
