.accordion {
  display: flex;
  flex-direction: column;
}

.open {
  .btn.icon {
    transform: rotate(180deg);
  }
}

.handle {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.btn {
  margin-left: auto;
}

.text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.icon {
  transition: transform 0.3s ease;
  padding-left: 7px;
  padding-right: 7px;
}

.content {
  overflow: hidden;
  transition: max-height 0.3s ease;
}
