@use 'src/styles/variables' as vars;

.link {
  text-decoration: none;
  font-family: vars.$mainFont;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.default {
  color: vars.$dark-primary;
  transition: color vars.$trans-300;

  &:hover {
    color: vars.$color-hover;
  }
}

.active {
  color: vars.$color-hover;
}
