@font-face {
  font-family: 'Golos';
  src: url('golos-text-regular.woff2') format('woff2'),
    url('golos-text-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('golos-text-medium.woff2') format('woff2'),
    url('golos-text-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('golos-text-bold.woff2') format('woff2'),
    url('golos-text-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('yandex-sans-text-medium.woff2') format('woff2'),
    url('yandex-sans-text-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
