.card {
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);
  background-color: white;
  padding: 32px;

  &NoPadding {
    padding: 0;
  }
}
