@use "../../../styles/color-variables.scss";

.card {
  border-radius: 16px;
  box-shadow: 0 0 4px color-variables.$drop-shadow-small, 0 4px 16px color-variables.$drop-shadow-small;
  background-color: color-variables.$bg-primary;
  padding: 32px;
  min-width: fit-content;

  &NoPadding {
    padding: 0;
  }
}
