@use 'src/styles/variables' as vars;

.container {
  max-width: 648px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 32px;
}

.form {
  margin-bottom: 16px;
}

.button {
  margin: 0 auto;
  width: 236px;
  padding: 0 22px;
}
