@use 'src/styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  max-width: 648px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 32px;
}

.form {
  margin-bottom: 24px;
}

.button {
  margin: 0 auto;
  width: 236px;
  padding: 0 24px;
}

.authLink {
  color: vars.$dark-secondary;
  margin: 0 auto;
}
