@use 'src/styles/variables' as vars;

.article {
  position: relative;
  min-width: 654px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.card {
  height: 240px;
  display: grid;
  grid-template-columns: 200px 24px minmax(150px, auto) minmax(24px, 56px) 224px 32px;
  grid-template-rows: 32px 28px 16px 24px 24px auto 32px;
}

.cover {
  grid-row: 1 / span 7;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: vars.$border-radius;
}

.title {
  grid-row: 2;
  grid-column: 3;
}

.level {
  grid-row: 4;
  grid-column: 3;
}

.description {
  grid-row: 6;
  grid-column: 3;
  max-height: 72px;
}

.lessons {
  grid-row: 2;
  grid-column: 5;
  justify-self: end;
  align-self: center;
}

.duration {
  grid-row: 4;
  grid-column: 5;
  justify-self: end;
  align-self: center;
}

.button {
  grid-row: 6;
  grid-column: 5;
  width: 224px;
  height: 48px;
  align-self: end;
  position: absolute;
  bottom: 32px;
  right: 32px;
}
