@use 'src/styles/variables' as vars;

.heading {
  font-family: vars.$mainFont;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  margin: 0;
}

.xxl {
  font-size: vars.$font-size-xxl;
  line-height: vars.$line-height-xxl;
}

.xl {
  font-size: vars.$font-size-xl;
  line-height: vars.$line-height-xl;
}

.l {
  font-size: vars.$font-size-l;
  line-height: vars.$line-height-l;
}

.m {
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
}
