@use 'src/styles/variables' as vars;

.lesson {
  display: flex;
  align-items: flex-start;
  column-gap: vars.$grid-gap;
}

.lessonContent {
  flex-grow: 1;
}

.courseContent {
  width: 32%;
  max-width: 424px;
}

.breadcrumbs {
  margin-bottom: 32px;
}
