@use 'src/styles/variables' as vars;

.good__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: vars.$success-border 1px solid;
  max-width: 808px;
  margin: 32px auto;
  background-color: vars.$success-bg;
  border-radius: 16px;
  box-sizing: border-box;
}

.bad__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: vars.$warning-border 1px solid;
  max-width: 808px;
  margin: 32px auto;
  background-color: vars.$warning-bg;
  border-radius: 16px;
  box-sizing: border-box;
}

.percent {
  padding-top: 32px;
}

.result__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 66px;
  justify-content: space-between;
  margin: 24px 64px;
  text-align: center;
}

.description__title {
  margin-bottom: 18px;
  font-weight: 500;
}

.description__text {
  font-weight: 500;
}

.red {
  color: vars.$warning;
}

.green {
  color: vars.$success;
}
