@use 'src/styles/variables' as vars;

.option {
  background-color: vars.$bg-primary;
  cursor: pointer;
  padding: 12px 16px;
  list-style: none;
  font-family: vars.$mainFont;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
  color: inherit;
  border-bottom: 1px solid vars.$borders-divider-disabled-bg;
  transition: vars.$trans-300;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    color: vars.$color-hover;
  }
}
