$bg-primary: #ffffff;
$bg-secondary: #fcfcfc;

$dark-primary: #212329;
$dark-secondary: #9397a3;

$borders-divider-disabled-bg: #e6e7eb;
$drop-shadow-small: rgba(231, 232, 235, 0.6);

$color-primary: #ff6600;
$color-hover: #f06000;

$warning: #ff0000;
$warning-border: rgba(255, 0, 0, 0.6);
$warning-bg: rgba(255, 0, 0, 0.12);

$success: #008000;
$success-border: rgba(0, 128, 0, 0.6);
$success-bg: rgba(0, 128, 0, 0.12);

// на сафари есть косяки с просто transparent
$transparent: rgba(255, 255, 255, 0);

:export {
  dark-primary: $dark-primary;
  dark-secondary: $dark-secondary;
  warning: $warning;
  color-hover: $color-hover;
}
