$mainFont: 'Golos', 'Arial', sans-serif;
$yandexFont: 'Yandex Sans Text', 'Arial', sans-serif;

$font-size-xxl: 48px;
$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 16px;

$line-height-xxl: (52 / 48);
$line-height-xl: (36 / 32);
$line-height-l: (28 / 24);
$line-height-m: (24 / 18);
$line-height-s: (20 / 16);
