$mainFont: 'Golos', 'Arial', sans-serif;
$yandexFont: 'Yandex Sans Text', 'Arial', sans-serif;

$font-size-xxl: 48px;
$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 16px;

$line-height-xxl: calc(52 / 48);
$line-height-xl: calc(36 / 32);
$line-height-l: calc(28 / 24);
$line-height-m: calc(24 / 18);
$line-height-s: calc(20 / 16);
