@use 'variables' as vars;
@import './animations';

/* медиазапросы */
@mixin atDesktopS {
  @media screen and (max-width: vars.$desktop-s) {
    @content;
  }
}

@mixin atTablet {
  @media screen and (max-width: vars.$tablet) {
    @content;
  }
}

@mixin atMobile {
  @media screen and (max-width: vars.$mobile) {
    @content;
  }
}

@mixin atMobileS {
  @media screen and (max-width: vars.$mobile-s) {
    @content;
  }
}

/* всякие анимашки */
@mixin slide-bottom-up($delay) {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-bottom-up .5s ease-out $delay forwards;
}
