@use 'variables' as vars;
@import '../assets/fonts/fonts.css';

body {
  margin: 0;
  font-family: vars.$mainFont;
  color: vars.$dark-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: vars.$bg-secondary;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
