@use "./font-variables";
@use "./color-variables";
@import "../assets/fonts/fonts.css";
@import "mixins";
@import "./typography.scss";

body {
  margin: 0;
  font-family: font-variables.$mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: color-variables.$bg-secondary;
}
