@use "./font-variables";
@import "../assets/fonts/fonts.css";
@import "./container.scss";
@import "./typography.scss";

body {
  margin: 0;
  font-family: font-variables.$mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
