@use './font-variables';

.heading {
  font-family: font-variables.$mainFont;
  font-weight: 700;
  margin: 0;

  &.h1 {
    font-size: font-variables.$font-size-xxl;
    line-height: 108%;
  }
  
  &.h2 {
    font-size: font-variables.$font-size-xl;
    line-height: 112%;
  }
  
  &.h3 {
    font-size: font-variables.$font-size-l;
    line-height: 117%;
  }

  &.sub {
    font-size: font-variables.$font-size-m;
    line-height: 133%;
  }
}
