@use 'src/styles/variables' as vars;

.passwordRestoration {
  max-width: 648px;
}

.form {
  margin: 32px auto 16px;
}

.submitButton {
  min-width: 271px;
  margin: 0 auto;
}

.backButton {
  color: vars.$dark-secondary;
  min-width: 271px;
  margin: 0 auto;
}
