/* Стили исключительно для Storybook,
   в компонентах используйте его собственные стили для сохранения инкапсуляции.
*/

.flex {
  display: flex;
  gap: 12px;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  align-items: center;
}
