@use 'src/styles/variables' as vars;

.tag {
  display: flex;
  max-width: fit-content;
  align-items: center;
  height: 24px;
  background-color: vars.$borders-divider-disabled-bg;
  border-radius: 16px;
  padding: 0 0 0 8px;
}

.text {
  max-width: 250px;
  text-overflow: ellipsis;
  margin: 0 4px 0 0;
  overflow: hidden;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
}

.button {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0;
  color: vars.$dark-secondary;
  cursor: pointer;
}
