@use 'src/styles/variables' as vars;

.tag {
  display: inline-flex;
  max-width: fit-content;
  align-items: center;
  height: 24px;
  background-color: vars.$borders-divider-disabled-bg;
  border-radius: vars.$border-radius;
  column-gap: 4px;
  padding: 0 8px;
  font-family: vars.$mainFont;

  &_type_withButton {
    padding: 0 0 0 8px;
  }
}

.text {
  width: fit-content;
  max-width: 250px;
}

.button {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0;
  color: vars.$dark-secondary;
  cursor: pointer;
}
