@use 'src/styles/variables' as vars;

.navButtons {
  display: flex;
  justify-content: flex-end;
  gap: vars.$grid-gap;
  padding-right: 32px;
}

.button {
  min-width: 184px;
}

.notClickable {
  pointer-events: none;
}
