@use '../../../styles/color-variables.scss';
@use '../../../styles/_font-variables';

.accountData {
  max-width: 648px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: font-variables.$mainFont;
}

.title {
  margin: 0;
  color: color-variables.$dark-primary;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
}

.form {
  display: flex;
  flex-direction: column;
}

.inputSection {
  margin: 32px 0 0 0;
}

.submitButton {
  max-width: 246px;
  margin-top: 32px;
  padding: 12px 24px;
  align-self: center;
  border-radius: 16px;
  text-align: center;
  white-space: nowrap;
  white-space: pre;
}
