@use 'src/styles/variables' as vars;

.accountData {
  max-width: 648px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: vars.$mainFont;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputSection {
  margin: 32px 0 0 0;
}

.submitButton {
  max-width: 246px;
  margin-top: 32px;
  padding: 12px 24px;
  align-self: center;
  border-radius: 16px;
  text-align: center;
  white-space: nowrap;
}
