@use 'src/styles/variables' as vars;

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(vars.$bg-secondary, 0.6);
  z-index: 1000;

  &_pos {
    &_fixed, &_absolute {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &_fixed {
      position: fixed;
    }

    &_absolute {
      position: absolute;
    }
  }
}

.loader {
  width: 50px;
  height: 50px;
  animation: rotate 2s linear infinite;
  z-index: 1000;

  & .path {
    stroke: vars.$color-primary;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
