@use 'src/styles/variables' as vars;

.container {
  max-width: 648px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.text {
  max-width: 402px;
  color: vars.$dark-primary;
}
