@use 'src/styles/variables' as vars;

.content {
  box-sizing: border-box;
  max-width: 872px;
  width: 100%;
}

.subtitle > button {
  font-family: vars.$mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: vars.$font-size-l;
  line-height: vars.$line-height-l;
  color: vars.$dark-primary;
}

.list {
  padding: 0;
  margin: 0;
}

.heading {
  margin-bottom: 32px;
}
