@import '../../../styles/color-variables';

.header {
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6), 0px 4px 16px rgba(231, 232, 235, 0.6);

  &Container {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  &Text {
    font-weight: 700;
    margin: 0;
    font-size: 18px;
    line-height: calc(24 / 18);
    cursor: pointer;

    &Link {
      text-decoration: none;
      color: $dark-primary;
    }
  }

  &Links {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 42px;
  }
}
