.personalData {
  max-width: 648px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// .heading {
//   margin-bottom: 32px;
// }

.form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.submitButton {
  max-width: 246px;
  padding: 12px 24px;
  align-self: center;
  border-radius: 16px;
  text-align: center;
  white-space: nowrap;
}
