@use 'src/styles/variables' as vars;

.container {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  font-family: vars.$mainFont;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
  color: vars.$dark-primary;
}

.label {
  font-weight: 700;
  flex-basis: 280px;
}

.select {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid vars.$borders-divider-disabled-bg;
  background-color: vars.$bg-primary;
  padding: 12px 16px;
  border-radius: 16px;
  outline: none;
  position: relative;
  cursor: pointer;
  z-index: 1;

  &:focus {
    outline: 1.2px solid vars.$color-primary;
  }
}

.arrow {
  margin: 0 0 0 auto;
}

.select:hover .arrow {
  color: vars.$color-hover;
}

.select_opened .arrow {
  transform: rotate(180deg);
}

.placeholder {
  color: vars.$dark-secondary;
}

.selectContainer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.list {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
}
