@use 'src/styles/variables' as vars;

.card {
  width: 872px;
  color: vars.$dark-primary;
}

.title > button {
  margin: 0;
  font-weight: 700;
  font-size: vars.$font-size-l;
  line-height: 117%;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    max-width: 808px;
    padding: 32px 0 33px;
    border-bottom: 1px solid vars.$borders-divider-disabled-bg;

    &:last-child {
      padding: 32px 0 0;
      border: none;
    }
  }
}

.question > button {
  font-weight: 700;
  font-size: vars.$font-size-m;
  line-height: 133%;
}

.answer {
  margin: 0;
  padding-top: 16px;
  font-family: vars.$mainFont;
  font-weight: 400;
  font-size: vars.$font-size-m;
  line-height: 133%;
}
