@import 'src/styles/color-variables';
@import 'src/styles/font-variables';

.card {
  box-sizing: border-box;
  width: 872px;
}

.container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  margin: 0;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-l;
  line-height: 117%;
  color: $dark-primary;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: $mainFont;
  font-size: $font-size-m;
  font-weight: 500;
  line-height: 133%;
  color: $dark-primary;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &_show {
    opacity: 1;
    max-height: 100%;
  }
}

.list__item {
  padding: 32px 0;
  border-bottom: 1px solid $borders-divider-disabled-bg;
}

.subtitle > button {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-m;
  line-height: 133%;
  color: $dark-primary;
}

.answer {
  margin: 0;
  padding-top: 16px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-m;
  line-height: 133%;
  color: $dark-primary;
}
