@use 'src/styles/variables' as vars;

.textWithIcon {
  display: flex;
  align-items: center;
  min-height: 24px;
  gap: 8px;
  color: inherit;
}

.reverse {
  flex-direction: row-reverse;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
  overflow-wrap: anywhere;
}

.icon {
  align-self: flex-start;
}
