@use 'src/styles/variables' as vars;

.heading {
  padding-top: vars.$grid-gap;
  margin-bottom: 32px;
}

.content {
  display: flex;
  column-gap: vars.$grid-gap;
  padding-bottom: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: vars.$grid-gap;
  width: 100%;
  max-width: 872px;
}

.aside {
  max-width: 424px;
  min-width: 335px;
  width: 100%;
}
