@use 'src/styles/variables' as vars;

.description {
  max-width: 872px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: vars.$dark-primary;
}

.text {
  margin: 32px 0 0;
}

.titleTasks {
  margin: 32px 0 16px;
}

.tasksList {
  margin: 0;
  padding-left: 27px;
}

.task {
  margin-top: 18px;

  &:first-of-type {
    margin-top: 0;
  }
}
