@use 'src/styles/variables' as vars;

.description {
  max-width: 872px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: vars.$dark-primary;
}

.accordion {
  & > button {
    margin-bottom: 32px;
  }
}
