@import 'src/styles/color-variables';
@import 'src/styles/_font-variables';

.description {
  max-width: 872px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title > button {
  font-weight: 700;
  font-size: $font-size-l;
  line-height: $line-height-l;
}

.text {
  font-size: $font-size-m;
  line-height: $line-height-m;
  color: $dark-primary;
  margin: 32px 0 0;
}

.titleTasks {
  margin-top: 32px;
}

.tasksList {
  margin: 0;
  padding-left: 27px;
}

.task {
  margin-top: 18px;
  color: $dark-primary;
  font-size: $font-size-m;
  line-height: $line-height-m;
}
