@use 'src/styles/variables' as vars;

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 32px 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid vars.$borders-divider-disabled-bg;
    }
  }
}
