@use 'src/styles/variables' as vars;

@mixin placeholder {
  color: vars.$dark-secondary;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 584px;
  font-family: vars.$mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
}

.label {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding-left: 16px;
  color: vars.$dark-secondary;

  &_flex {
    display: flex;
    flex-direction: column;
  }
}

.input {
  width: 100%;
  min-height: 48px;
  box-sizing: border-box;
  padding: 12px 52px 12px 16px;
  border: 1.2px solid vars.$borders-divider-disabled-bg;
  border-radius: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;

  &::-webkit-input-placeholder {
    @include placeholder;
  }

  &::-moz-placeholder {
    @include placeholder;
  }

  &::placeholder {
    @include placeholder;
  }

  &_hidden {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &_warned {
    border: 1.2px solid vars.$warning;
    background-color: vars.$warning-bg;
  }

  &:hover {
    cursor: pointer;
  }
}

.icon {
  position: absolute;
  top: 44px;
  right: 16px;
  width: 24px;
  height: 24px;
  color: vars.$dark-primary;

  &:hover {
    cursor: pointer;
  }
}

.input:disabled {
  background: vars.$bg-primary;
  color: vars.$dark-secondary;
  cursor: auto;
}

.input:focus {
  outline: 1.2px solid vars.$color-primary;
}

.error {
  box-sizing: border-box;
  padding-left: 16px;
  margin-top: 3px;
  min-height: 48px;
  color: vars.$warning;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
