@use 'src/styles/variables' as vars;

.accordion {
  display: flex;
  flex-direction: column;
  font-family: vars.$mainFont;
}

.open > .handle {
  .btn.icon {
    transform: rotate(180deg);
  }
}

.handle {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  text-align: start;
}

.title {
  margin: 0;

  &_weight {
    &_bold {
      font-weight: 700;
    }

    &_regular {
      font-weight: 400;
    }
  }

  &_size {
    &_l {
      font-size: vars.$font-size-l;
      line-height: vars.$line-height-l;
    }

    &_m {
      font-size: vars.$font-size-m;
      line-height: vars.$line-height-m;
    }
  }
}

.btn {
  margin-left: auto;
  height: 24px;
  transition: vars.$trans-300;

  &:hover {
    color: vars.$color-hover;
  }
}

.text {
  font-size: vars.$font-size-m;
  line-height: vars.$line-height-m;
  font-weight: 500;
}

.icon {
  transition: transform vars.$trans-300;
  flex-shrink: 0;
}

.content {
  overflow: hidden;
  transition: max-height vars.$trans-300;
}
